@import "./base/resetcss";
@import "./utils/variables";
@import "./base/backgrounds";
@import "./base/police";
@import "./composants/header";
@import "./composants/hprestaurantscard";
@import "./composants/hptitles";
@import "./composants/icon";
@import "./composants/location";
@import "./composants/operating";
@import "./composants/valueproposition";
@import "./layout/footer";
@import "./composants/coverrestaurant";
@import "./composants/menusections";
@import "./composants/cta";
@import "./composants/loadingspinner";
@import "./composants/menucardsanimation";
@import "./base/responsive";