@import "./base/resetcss";
@import "./base/backgrounds";
@import "./base/police";
@import "./composants/header";
@import "./composants/hprestaurantscard";
@import "./composants/hptitles";
@import "./composants/icon";
@import "./composants/location";
@import "./composants/operating";
@import "./composants/valueproposition";
@import "./utils/variables";
@import "./layout/footer";