.footer {
    background-color:#353535;

    &__entry {
        color:#ffffff;
        padding: 0 0 10px 20px;
    }

    &__logo {
        width: 90px;
        margin: 20px;
    }

    &__container {
        max-width: 1440px;
        margin: 0 auto;
    }
}