html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.greybackground {
  background-color: #f6f6f6;
  padding: 0 0 20px 0;
}

.darkgreybackground {
  background-color: #eaeaea;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

@font-face {
  font-family: "Shrikhand";
  src: url("./sass/base/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./sass/base/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto", Arial, sans-serif;
}

h1 {
  font-family: "Shrikhand", Arial, sans-serif;
}

.header {
  position: relative;
}
.header__logo {
  width: 100%;
  background-color: #ffffff;
}
.header__container {
  max-width: 1440px;
  margin: auto;
}
.header__logoshadow {
  box-shadow: 0px 0px 5px 0px grey;
  margin-bottom: 5px;
}
.header__logo__url {
  display: flex;
  justify-content: center;
}
.header__logo__img {
  width: 50%;
  padding: 16px;
  max-width: 400px;
}
.header__arrow__url {
  color: #353535;
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  font-size: 1.2rem;
  left: 25px;
  top: 25px;
}

.hprestaurantscard {
  background-color: #ffffff;
  width: 92%;
  margin: 22px;
  border-radius: 25px;
  box-shadow: 0px 0px 13px 2px #cccccc;
  position: relative;
  min-width: 300px;
}
.hprestaurantscard__img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  max-height: 190px;
  object-fit: cover;
}
.hprestaurantscard__img__paysage {
  object-position: bottom;
}
.hprestaurantscard__img__portrait {
  object-position: center;
}
.hprestaurantscard__name {
  font-weight: bold;
  padding: 15px 0 15px 15px;
}
.hprestaurantscard__district {
  padding: 0 0 15px 15px;
}
.hprestaurantscard__stickernew {
  color: #008766;
  background-color: #99E2D0;
  position: absolute;
  right: 15px;
  padding: 10px;
  top: 15px;
}

.hptitles {
  margin-left: 20px;
  padding-top: 35px;
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 20px;
}

.fa-map-marker-alt {
  margin: 10px;
}

.fa-utensils, .fa-hands-helping {
  margin: 0 10px 0 0;
  color: #ffffff;
}

.fa-heart {
  position: absolute;
  right: 30px;
  font-size: 1.8rem;
}
.fa-heart__hp {
  bottom: 30px;
}
.fa-heart__pagedetail {
  top: 30px;
}
.fa-heart:hover {
  opacity: 0%;
}
.fa-heart--hover {
  opacity: 0%;
  transition: all 0.3s linear;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-heart--hover:hover {
  opacity: 100%;
  transform: scale(1.1);
}

.fa-check-circle {
  font-size: 1.6rem;
  color: #ffffff;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

.operating {
  padding-bottom: 25px;
}
.operating__item {
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  width: 75%;
  margin: 30px auto;
  padding: 8px 20px;
  box-shadow: 0px 0px 13px 2px #cccccc;
  position: relative;
  max-width: 500px;
}
.operating__item:hover {
  background-color: #f5edff;
}
.operating__item:hover .fas {
  color: #9356DC;
}
.operating__number {
  margin: 0;
  color: #ffffff;
  position: absolute;
  left: 5px;
  top: 2px;
}
.operating__number__container {
  background-color: #9356DC;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -8px;
}
.operating__icon {
  color: #7e7e7e;
  margin: 0 18px;
}
.operating__text {
  font-weight: bold;
  padding: 15px 0;
}

.valueproposition {
  background-color: #f6f6f6;
  padding: 20px 0 40px 0;
}
.valueproposition__text {
  margin: auto;
  text-align: center;
}
.valueproposition__title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 15px;
}
.valueproposition__subtitle {
  padding-bottom: 25px;
}

.footer {
  background-color: #353535;
}
.footer__entry {
  color: #ffffff;
  padding: 0 0 10px 20px;
}
.footer__logo {
  width: 90px;
  margin: 20px;
}
.footer__container {
  max-width: 1440px;
  margin: 0 auto;
}

.coverrestaurant {
  position: relative;
}
.coverrestaurant__img {
  width: 100%;
  object-fit: cover;
  height: 220px;
}
.coverrestaurant__img__portrait {
  object-position: 0 -90px;
}
.coverrestaurant__titlecontainer {
  position: relative;
  bottom: 28px;
  border-radius: 25px 25px 0 0;
}
.coverrestaurant__title {
  margin-left: 20px;
  padding: 30px 0 0 0;
  font-size: 1.7rem;
  border-radius: 25px 25px 0 0;
  width: calc(100% - 80px);
}

.menusections {
  margin: 0 10px;
}
.menusections__title {
  color: #7b7b7b;
  margin: 0 0 0 20px;
}
.menusections__trait {
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin: 5px 0 0 20px;
}
.menusections__card {
  background-color: #ffffff;
  border-radius: 12px;
  margin: 12px auto;
  box-shadow: 0px 0px 10px 1px #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.menusections__card--anim1 {
  animation: mealentrance 500ms ease-out 100ms 1 normal both;
}
.menusections__card--anim2 {
  animation: mealentrance 500ms ease-out 300ms 1 normal both;
}
.menusections__card--anim3 {
  animation: mealentrance 500ms ease-out 500ms 1 normal both;
}
.menusections__card--anim4 {
  animation: mealentrance 500ms ease-out 700ms 1 normal both;
}
.menusections__card:hover .menusections__checkbox {
  animation: checkboxslide 500ms ease-in 1 both;
}
.menusections__card:hover .menusections__checkbox--rota {
  animation: checkboxiconrota 500ms ease-in 1 forwards;
}
.menusections__card:hover .menusections__card__price {
  animation: priceslide 500ms ease-in 1 forwards;
}
.menusections__card:hover .menusections__card__mealcontainer {
  width: calc(100% - 115px);
}
.menusections__card__mealcontainer {
  width: calc(100% - 50px);
  transition: all 0.5s ease-in;
}
.menusections__card__title {
  font-weight: bold;
  padding: 5px 0 8px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  width: 100%;
}
.menusections__card__subtitlecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menusections__card__subtitle {
  color: #7b7b7b;
  padding: 5px 0 10px 15px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  width: 100%;
}
.menusections__card__price {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 5px 0 10px 0;
  align-items: flex-end;
  height: 60px;
  width: 50px;
  padding: 0 15px 10px 0;
}
.menusections__checkbox {
  background-color: #99E2D0;
  width: 4rem;
  min-height: 80px;
  border-radius: 0 12px 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.menusections__checkbox--slide {
  position: relative;
}

.cta {
  padding: 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  width: fit-content;
  border-radius: 50px;
  margin: auto;
  color: #ffffff;
  box-shadow: 0px 0px 5px 1px #cccccc;
  max-width: 222px;
  text-align: center;
  min-width: 150px;
}
.cta__pagedetail {
  margin-top: 30px;
  margin-bottom: 70px;
}
.cta:hover {
  background: linear-gradient(#fc8ede, #b077f1);
  box-shadow: 0px 0px 5px 1px #5f5e5e;
}

.loadingspinner {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  left: 42%;
  top: 42%;
  z-index: 2;
  animation: loadingspinner__container 0.7s ease 2.3s 1 forwards;
}
.loadingspinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #9356DC;
  border-radius: 50%;
  animation: loadingspinner 3s ease;
  border-color: #9356DC transparent transparent transparent;
}
.loadingspinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.loadingspinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.loadingspinner div:nth-child(3) {
  animation-delay: -0.15s;
}

.loadingscreen {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  animation: loadingscreen 0.7s ease-in-out 2.3s 1 forwards;
  z-index: 1;
}

@keyframes loadingspinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadingspinner__container {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loadingscreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -999;
  }
}
@keyframes mealentrance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes checkboxslide {
  0% {
    transform: translateX(4rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes priceslide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4rem);
  }
}
@keyframes checkboxiconrota {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@media all and (min-width: 600px) {
  .hprestaurantscard {
    max-width: 345px;
  }

  .restaurantsresponsive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-evenly;
  }
}
@media all and (min-width: 895px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .menusections {
    text-align: center;
  }
  .menusections__card {
    max-width: 700px;
  }
  .menusections__trait {
    margin: 5px auto;
  }

  .coverrestaurant__title {
    text-align: center;
    padding: 30px 0 30px 0;
  }

  .fa-heart__pagedetail {
    top: 67px;
    right: 49%;
  }
}
@media all and (min-width: 1000px) {
  .hptitles {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
