.coverrestaurant {
    position:relative;
    
    &__img {
        width:100%;
    }

    &__title {
        margin-left:20px;
        padding: 30px 0;
        font-size: 1.7rem;
        border-radius: 25px 25px 0 0;
    }
}