.cta {
    padding: 15px;
    background: linear-gradient($colour-secondary, $colour-primary);
    width: fit-content;
    border-radius: 50px;
    margin: auto;
    color:#ffffff;
    box-shadow: 0px 0px 5px 1px rgb(204 204 204);
    max-width: 222px;
    text-align: center;
    min-width:150px;

    &__pagedetail {
        margin-top:30px;
        margin-bottom:70px;
    }
}