.header {
    &__logo {
        width: 100%;
        box-shadow: 0px 0px 5px 0px grey;
        background-color: #ffffff;
        margin-bottom: 5px;
    }
    
    &__logo__url {
        display: flex;
        justify-content: center;
    }
    &__logo__img {
        width:50%;
        padding: 16px;
    }
}
