.header {
    position:relative;

    &__logo {
        width: 100%;
        background-color: #ffffff;     
    }

    &__logoshadow {
        box-shadow: 0px 0px 5px 0px grey;
        margin-bottom: 5px;
    }
    
    &__logo__url {
        display: flex;
        justify-content: center;
    }
    &__logo__img {
        width:50%;
        padding: 16px;
    }

    &__arrow__url {
        color:#353535;
    }
}

.fa-arrow-left {
    position:absolute;
    font-size: 1.2rem;
    left: 25px;
    top: 25px;
}
