.hprestaurantscard {
    background-color: #ffffff;
    width: 92%;
    margin: 22px;
    border-radius: 25px;
    box-shadow: 0px 0px 13px 2px #cccccc;
    position: relative;
    min-width: 300px;

    &__img {
        width: 100%;
        border-radius: 25px 25px 0 0;
        max-height:190px;
        object-fit:cover;

        &__paysage {
            object-position: bottom;
        }

        &__portrait {
            object-position: center;
        }
    }

    &__name {
        font-weight: bold;
        padding: 15px 0 15px 15px;
    }

    &__district {
        padding: 0 0 15px 15px;
    }

    &__stickernew {
        color:#008766;
        background-color: $colour-tertiary;
        position: absolute;
        right: 15px;
        padding: 10px;
        top: 15px;
    }
}