.fa-map-marker-alt {
    margin:10px;
}

.fa-utensils, .fa-hands-helping {
    margin: 0 10px 0 0;
    color:#ffffff;
}

.fa-heart {
    position:absolute;
    right: 30px;
    bottom: 30px;
    font-size: 1.8rem;
}