.fa-map-marker-alt {
    margin:10px;
}

.fa-utensils, .fa-hands-helping {
    margin: 0 10px 0 0;
    color:#ffffff;
}

.fa-heart {
    position: absolute;
    right: 30px;
    font-size: 1.8rem;

    &__hp {
        bottom: 30px;
    }
    
    &__pagedetail {
        top: 30px;
    }

    &:hover {
        opacity:0%;
    }

    &--hover{
        opacity: 0%;
        transition: all .3s linear;
         &:hover {
            opacity: 100%;
            background: linear-gradient(#FF79DA, #9356DC);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1.1);
        }
    }
}