.loadingspinner {
    display: inline-block;
    position: fixed;
    width: 80px;
    height: 80px;
    left:42%;
    top:42%;
    z-index:2;
    animation: loadingspinner__container 0.7s ease 2.3s 1 forwards;
    
    & div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid $colour-primary;
        border-radius: 50%;
        animation: loadingspinner 3s ease;
        border-color: $colour-primary transparent transparent transparent;
    }
    
    & div:nth-child(1) {
        animation-delay: -0.45s;
    }
    
    & div:nth-child(2) {
        animation-delay: -0.3s;
    }
  
    & div:nth-child(3) {
        animation-delay: -0.15s;
    }
    
}

.loadingscreen {
    position:absolute;
    background-color: #ffffff;
    opacity: 50%;
    width: 100%;
    height: 100%;
    min-height: 1000px;
    animation: loadingscreen 0.7s ease 2.3s 1 forwards;
    z-index:1;
}

@keyframes loadingspinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingspinner__container {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

  @keyframes loadingscreen {
    0% {
      opacity:0,5;
      width:100%;
    }
  
    100% {
      opacity: 0;
      width:0%;
    }
  }
  