.menusections {
    &__title {
        color:#7b7b7b;
        margin: 0 0 0 20px;
    }

    &__trait {
        background-color: $colour-tertiary;
        height:3px;
        width:40px;
        margin-left:20px;
        margin: 5px 0 0 20px;
    }

    &__card {
        background-color: #ffffff;
        border-radius: 12px;
        margin: 12px 10px;
        box-shadow: 0px 0px 10px 1px #cccccc;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        position:relative;
        cursor: pointer;

        &--anim1 {
            animation: mealentrance 500ms ease-out 100ms 1 normal both;
        }

        &--anim2 {
            animation: mealentrance 500ms ease-out 300ms 1 normal both;
        }

        &--anim3 {
            animation: mealentrance 500ms ease-out 500ms 1 normal both;
        }

        &:hover .menusections__checkbox {
            animation: checkboxslide 500ms ease-in 1 both;
        }

        &:hover .menusections__checkbox--rota {
            animation: checkboxiconrota 500ms ease-in 1 forwards;
        }

        &:hover .menusections__card__price {
            animation: priceslide 500ms ease-in 1 forwards;
        }
        
    }

    &__card__title {
        font-weight: bold;
        padding: 5px 0 8px 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    &__card__subtitlecontainer {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__card__subtitle {
        width: 100%;
        color: #7b7b7b;
        padding: 5px 0 10px 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        box-sizing: border-box;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    &__card__price {
        display: flex;
        justify-content: flex-end;
        font-weight:bold;
        font-size: 0.9rem;
        margin: 5px 0 10px 0;
        align-items: flex-end;
        height: 60px;
        padding: 0 15px 10px 0;
    }

    &__checkbox {
        background-color: #99E2D0;
        width: 4rem;
        min-height: 80px;
        border-radius: 0 12px 12px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity:0;
        position:absolute;
        top:0;
        right:0;
    }

    &__checkbox--slide {
        position:relative;
    }
}