@keyframes mealentrance {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes checkboxslide {
  0%{
    transform: translateX(4rem);
    opacity: 0;
  }
  100%{
    transform:translateX(0);
    opacity: 1;
  }
}

@keyframes priceslide {
  0%{
    transform: translateX(0);
  }
  100%{
    transform:translateX(-4rem);
  }
}

@keyframes checkboxiconrota{
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(-360deg);
  }
}
