.menusections {
    &__title {
        color:#7b7b7b;
        margin: 0 0 0 20px;
    }

    &__trait {
        background-color: $colour-tertiary;
        height:3px;
        width:40px;
        margin-left:20px;
        margin: 5px 0 0 20px;
    }

    &__card {
        background-color: #ffffff;
        border-radius: 12px;
        margin: 12px 10px;
        padding: 10px 0;
        box-shadow: 0px 0px 10px 1px #cccccc;
        position:relative;
    }

    &__card__title {
        font-weight: bold;
        padding: 5px 0 8px 15px;
    }

    &__card__subtitlecontainer {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__card__subtitle {
        width: 100%;
        color: #7b7b7b;
        padding: 5px 56px 10px 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        box-sizing: border-box;
    }

    &__card__price {
        position:absolute;
        font-weight:bold;
        right: 22px;
        font-size: 0.9rem;
        margin: 5px 0 10px 0;
    }
}