.operating {
    padding-bottom: 25px;

    &__item {
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f6f6f6;
        width: 75%;
        margin: 30px auto;
        padding: 8px 20px;
        box-shadow: 0px 0px 13px 2px rgb(204 204 204);
        position:relative;
        max-width: 500px;

        &:hover {
            background-color: #f5edff;
        }
    
        &:hover .fas {
            color:$colour-primary;
        }
    }

    &__number {
        margin: 0;
        color: #ffffff;
        position: absolute;
        left:5px;
        top:2px;
        
        &__container {
            background-color: $colour-primary;
            border-radius: 50px;
            width: 20px;
            height: 20px;
            position:absolute;
            left:-8px;
        }
    }

    &__icon {
        color:#7e7e7e;
        margin: 0 18px;
    }

    &__text {
        font-weight: bold;
        padding: 15px 0;
    }
}