.valueproposition {
    background-color: #f6f6f6;
    padding: 20px 0 40px 0;

    &__text {
        margin: auto;
        text-align: center;
    }

    &__title {
        font-weight: bold;
        font-size: 1.5rem;
        padding:15px;
    }

    &__subtitle {
        padding-bottom:25px;
    }

}