.valueproposition {
    background-color: #f6f6f6;
    padding: 20px 0 40px 0;

    &__text {
        margin: auto;
        text-align: center;
    }

    &__title {
        font-weight: bold;
        font-size: 1.5rem;
        padding:15px;
    }

    &__subtitle {
        padding-bottom:25px;
    }

    &__cta {
    padding: 15px;
    background: linear-gradient(#FF79DA, #9356DC);
    width: fit-content;
    border-radius: 50px;
    margin: auto;
    color:#ffffff;
    box-shadow: 0px 0px 5px 1px rgb(204 204 204);
    max-width: 160px;
    text-align: center;
    }
}