.greybackground {
    background-color: #f6f6f6;
    padding: 0 0 20px 0;
}

.darkgreybackground {
    background-color:#eaeaea;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}